@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animations */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}

.slide-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.slide-left-active {
    opacity: 1;
    transform: translateX(0);
}

.slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.slide-up-active {
    opacity: 1;
    transform: translateY(0);
}